name: Conda End-to-end Test

on:
  push:
    branches:
      - main
    paths-ignore:
      - LICENSE
      - NOTICE
      - README.md
      - "docs/**"
  pull_request:
    branches:
      - main
    paths-ignore:
      - LICENSE
      - NOTICE
      - README.md
      - "docs/**"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: write
  checks: write

jobs:
    build:
      strategy:
        matrix:
          os:
            - ubuntu-22.04
            - macos-14
            - macos-12
            - windows-2019
      runs-on: ${{ matrix.os }}
      steps:
        - name: Checkout
          uses: actions/checkout@v4

        - uses: mamba-org/setup-micromamba@v1
          with:
            micromamba-version: '1.5.7-0'
            environment-file: conda/dev-environment-unix.yml
            init-shell: >-
              bash
            cache-environment: true
            post-cleanup: 'all'
          if: ${{ runner.os != 'Windows' }}

        - uses: mamba-org/setup-micromamba@v1
          with:
            micromamba-version: '1.5.7-0'
            environment-file: conda/dev-environment-win.yml
            init-shell: >-
              cmd.exe
            cache-environment: true
            post-cleanup: 'all'
          if: ${{ runner.os == 'Windows' }}

        - name: Set up Caches
          uses: ./.github/actions/setup-caches
          with:
            vcpkg: false

        - name: Python Lint Steps
          run: make lint
          shell: micromamba-shell {0}
          if: ${{ runner.os != 'Windows' }}

        - name: Python Lint Steps ( Windows )
          run: make lint
          shell: cmd /C call {0}
          if: ${{ runner.os == 'Windows' }}

        - name: Python Build Steps
          run: make build-conda
          shell: micromamba-shell {0}
          if: ${{ runner.os != 'Windows' }}

        - name: Python Build Steps ( Windows )
          env:
            CSP_GENERATOR: "Visual Studio 16 2019"
          run: make build-conda
          shell: cmd /C call {0}
          if: ${{ runner.os == 'Windows' }}

        - name: Python Test Steps
          run: make test
          shell: micromamba-shell {0}
          if: ${{ runner.os != 'Windows' }}

        - name: Python Test Steps ( Windows )
          run: make test
          shell: cmd /C call {0}
          if: ${{ runner.os == 'Windows' }}
