name: Lint Docs

on:
  pull_request:
    branches:
      - main
    paths:
      - "docs/**"
  workflow_dispatch:

concurrency:
  group: docs-lint
  cancel-in-progress: true

permissions:
  contents: write
  checks: write
  pull-requests: write

jobs:
  lint:
    strategy:
      matrix:
        os:
          - ubuntu-24.04
        python-version:
          - 3.11

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive

      - name: Set up Python ${{ matrix.python-version }}
        uses: ./.github/actions/setup-python
        with:
          version: '${{ matrix.python-version }}'

      - name: Install python dependencies
        run: make requirements

      - name: Docs Lint Steps
        run: make lint-docs
